html,
body {
    background-color: #1ABC9C;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
}

.header {
    color: #ECF0F1;
}

a {
    color: #fff;
}

a:hover {
    color: #fff;
}

.header .television {
    width: 150px;
}

.btn-kerst {
    color: #243050;
    background-color: #edeff1;
}

.btn-kerst:hover {
    color: #ffffff;
    background-color: #243050;
}

.form {
    background-color: #edeff1;
    padding: 40px 30px;
    border-radius: 6px;
}


.footer {
    color: #243050;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
    font-size: 10px;
}